$gray: gray;
$basePadding: 8px;
$headerHeight: 80px;
$footerHeight: 40px;
$cBlack: #222;
$cGray: #ccc;
$cAccent: #0da6ff;

@mixin maxWidth() {
  max-width: 1280px;
  width: calc(100% - (#{$basePadding} * 2));
  margin: 0 auto;
}
